body {
	font-size:16px;
	background:black;
 	color:#80ff00;
}
a {
	color:#80ff00;
}
.nav {
	position:fixed;
}
.nav li {
	list-style-type:circle;	
}
.content {
	margin-left:130px;
	height: 1300px;
	background:#8000FF;
	text-align:center;
}
.content li {
	list-style-type:circle;
}
.project {
	background: #000000;
	display: inline-block;
	padding: 20px;
	border-radius:10px;
}
.project:hover {
	background: #FF0000;
}
.link {
	background: ##8000FF;
	display: inline-block;
	padding: 10px;
	border-radius:5px;
}
.link:hover {
	background: #FF7400;
}

